/*Styles the Checkout Page Page*/

/* #topline{

    background-color: #052a5b;
    display: block;
    color: #052a5b;
    font-size: 2px;
    position: relative;
    top: 20px;
    margin-bottom: -50px;
    margin-left: 20px;
    margin-right: 20px;    

} */
#form{
    margin: 0 10%;
    display: flex;
    justify-content: space-around;
} 

#displayTotals{
    margin-top: 20px;
    padding: 10px;
    width: auto;
    height: fit-content;
    position: -webkit-sticky;
    position: sticky;
    top: 25%;
    border: 3pt solid #052a5b;
    border-radius: 5pt;
}

.movietype{

    color: white;
    font-weight: bold;
    font-size: 15pt;
    background-color: #052a5b;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: auto;
}

 .ticketType{
    left: 200px;
    font-size: 15pt;
}

.ticketTypeSelection{
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}

.counter{
    left: 1200px;
    font-size: 15pt;
    width: 100px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    text-align: center;
}

.price{
    font-size: 15pt;
    font-weight: bold;
}

#subbtn{
    font-size: 12pt;
    color: white;
    background-color: #052a5b;
    height: 50px;
    width: 180px;
}

.printTotal{
    font-weight: bold;
    background-color: rgba(255, 255, 0, 0.37);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-size: 15pt;
}

/*
#t{

    font-weight: bold;
    background-color: rgba(255, 255, 0, 0.37);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15pt;
}

#T{

    font-weight: bold;
    background-color: rgba(255, 255, 0, 0.37);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15pt;
} */

/* #order{
    color: white;
    font-weight: bold;
    font-size: 15pt;
    background-color: #052a5b;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
} */

/*#subtotal{

    position: relative;
    font-weight: bold;
    font-size: 15pt;
    bottom: 150px;
    left: 1200px;

}

#total{

    position: relative;
    font-weight: bold;
    font-size: 15pt;
    bottom: 45px;
    left: 1200px;

}

#tax{

    position: relative;
    font-weight: bold;
    font-size: 15pt;
    bottom: 90px;
    left: 1200px;

}*/

.title{
    left: 100px;
    color: #f5b000;
    font-size: 35pt;
    font-weight: bold;
}