body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#main-seat{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 20%;
    margin-top: -2%;
}

#main{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 20%;
    margin-top: 1.85%;
}

.topnav{
    background-color: #333333;
    overflow: hidden;
    display: flex;
}

.topnav a{
    padding: 20px 46.5px 100px;
    margin-left: 80px;
    margin-bottom: -80px;
    margin-right: -50px;
    left: 70px;
}

#home-nav{
    padding: 22px 99px 100px;
    margin-left: 11px;
    margin-right: 55px;
}

#theatres-nav{
    padding: 22px 94px 100px;
    margin-left: -55px;
    margin-right: 0px;
    left: 70px;
}

#movie-experiences-nav{
    padding: 22px 79px 100px 85px;
    margin-left: 0px;
    margin-right: -70px;
    left: 70px;
}

#food-and-drinks-nav{
    padding: 22px 91.5px 100px;
    margin-left: 70px;
    margin-right: -70px;
    left: 70px;
}

.topnav a, #home-nav, #theatres-nav, #food-and-drinks-nav{
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

#movie-experiences-nav:hover, #home-nav:hover, #theatres-nav:hover,
#food-and-drinks-nav:hover{
    background-color: #ddd;
    color: black;
}

.nav-button{
    color: #f2f2f2;
}
.active{
    background-color: #ddd;
    color: black;
}

#btn-nav{
    background-color: #f2f2f2;
    margin-top: -15px;
    margin-bottom: -12px;
    height: 50px;
    width: 120px;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    box-shadow: none;
}

#btn-nav:hover{
    cursor: pointer;
}

#btn-nav:focus {
    box-shadow: 0 0 3pt 2pt #f5b000;
}