/*Styles the seat booking page*/

body{
    background-color: white;
    color: #fff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.container{
    position: relative;
    top: 200px;
    right: 10px;
}

.seat{
    background-color:  #052a5b;
    height: 36px;
    width: 45px;
    margin: 9px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.seat.selected{
    background-color: #f5b000;
}

.seat.occupied{
    background-color: grey;
}

.seat:nth-of-type(2){
    margin-right: 36px;
}

.seat:nth-last-of-type(2){
    margin-left: 36px;
}

.seat:not(.occupied):hover{
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover{
    cursor:default;
    transform: scale(1);
}

.row {
    display: flex;
    position: relative;
    top: 100px;
    left: 65px;
}

.screen{
    background-color: #fff;
    height: 240px;
    width: 650px;
    margin: 45px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 9px 30px black;
    position: relative;
    top: 100px;
    margin-right: auto;
    margin-left: auto;
}

#title{
    position: relative;
    bottom: 500px;
    left: 80px;
    font-size: 45pt;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#book{
    padding-right: 59.5px;
    position: relative;
}

#legend1{
    color: black;
    position: relative;
    top: 200px;
    left: 35px;
    font-size: 20pt;
    font-weight: bold;
}

#legend2{
    color: black;
    position: relative;
    top: 148px;
    left: 245px;
    font-size: 20pt;
    font-weight: bold;
}

#legend3{
    color: black;
    position: relative;
    top: 96px;
    left: 455px;
    margin-bottom: 200px;
    font-size: 20pt;
    font-weight: bold; 
}

#open{
    background-color: #052a5b;
    height: 30px;
    width: 30px;
    position: relative;
    left: 185px;
    top: -135px;
}

#chosen{
    background-color: grey;
    height: 30px;
    width: 30px;
    position: relative;
    left: 400px;
    top: -185px;
}

#choice{
    background-color: #f5b000;
    height: 30px;
    width: 30px;
    position: relative;
    left: 600px;
    top: -235px;
}

#continue{
    position: relative;
    margin-top: 140px;
    right: 200px;
    margin-left: 73%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15pt;
    color:white;
    background-color: #052a5b;
}

#continue:hover{
    cursor: pointer;
}

#theatres{
    position: relative;
    bottom: 269px;
    left: 80px;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    font-size: 12pt;
    text-align: center;
}

#movies{
    position: relative;
    text-align: center;
    left: 110px;
    font-size: 15px;
    border-radius: 2px;
    bottom: 258px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#date{
    height: 40px;
    font-size: 12pt;
}

#date-spacing {
    margin-top: -367px;
    margin-left: 130px;
}